$body-bg: #EBE8E4;
$navigation-bg: #EDE2C7;
$font-body-color: #333;
$accent: #FF421C;

$font-body: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
  Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-display: "Staatliches", sans-serif;

$ease: cubic-bezier(0.4, 0, 0.2, 1);
$ease-enter: cubic-bezier(0, 0, 0.2, 1);
$ease-leave: cubic-bezier(0.4, 0, 1, 1);
